<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqsQ_DKHT_HKd9BU0etlPsa2er84hgKTY</string>
	<key>GCM_SENDER_ID</key>
	<string>602615454016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.punx.kidolai</string>
	<key>PROJECT_ID</key>
	<string>k-idol-2d13b</string>
	<key>STORAGE_BUCKET</key>
	<string>k-idol-2d13b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602615454016:ios:4401f047bb4dc11bf8c2a5</string>
	<key>DATABASE_URL</key>
	<string>https://k-idol-2d13b-default-rtdb.firebaseio.com</string>
</dict>
</plist>